body {
    background-image: url('dark_wood.png');
}

p{
    color: white;
	font-family: "Arial";
	font-weight: bold;
}

h3{
    color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
    font-variant: small-caps;
	margin-bottom: 0px;
}

a{
    color: white;
	font-weight: bold;
	font-size: 24px;
    font-weight: lighter;

}

a:visited{
    color: green;
}

ul{
	list-style-type: none;
	padding-left: 0px;
}


img{
    opacity: 0.5;
}

img:hover{
    opacity: 1;
}

ul{
    display: inline;
}


#Header{
    width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
    border: solid 8px black;
	text-align: center;
	background-color: #8E41D5;
    transform: rotate(20deg); /* Standard syntax */

}

#Header h1{
    font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
    background-color: #8E41D5;
}

#LeftNav{
    float:left;
    border: solid 8px black;
    border-radius: 50px;
    width: 400px;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
    text-align: center;
    padding-bottom: 8px;
    background-color: #8E41D5;
}

#Content{
    border: solid 8px black;
    width: 700px;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(purple, red);
}

#Footer {
    border: solid 8px black;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
    text-align: center;
    background-color: #8E41D5;
}
